# Игнорировать логи
logs_*/
*.log

# Игнорировать скриншоты
Screenshots/

# Игнорировать сами файлы прошивок (они тяжелые и проприетарные)
*.apk

# Игнорировать системные файлы Windows
thumbs.db
desktop.ini